@import "tailwindcss";
/* @tailwind components;
@tailwind utilities; */

:root {
  --spacing: 1px;
  --font-inter: "Inter", sans-serif;
  --font-garamond: "EB Garamond", serif;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.fg-inter {
  font-family: var(--font-inter);
}

.fg-garamond {
  font-family: var(--font-garamond);
}

#homepage-pattern-banner {
  box-shadow: var(--box-shadow);
}
