@import "tailwindcss";
/* @tailwind components;
@tailwind utilities; */

:root {
  --spacing: 1px;
  --font-inter: "Inter", sans-serif;
  --font-garamond: "EB Garamond", serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.fg-inter {
  font-family: var(--font-inter);
}

.fg-garamond {
  font-family: var(--font-garamond);
}
